
body {
    background: linear-gradient(#3A1C71, #D76D77, #FFAF7B);
    color: rgb(255, 0, 76);
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 2px;
}
#email {
    color: #fff;
}

#numbers {
    color: black;
}

#home {
    justify-content: left;
    height: 50px;
    width: 100px;
    background-color: rgb(247, 247, 247);
    border: solid rgb(240, 240, 240);
    border-radius: 30%;
}