* {
    margin: 5px;
    padding: 0.5px;
    box-sizing: border-box;
}

.container-1, .menu {
    font-size: 17px;
    color: rgb(255, 0, 76);
    }


    ul, ol, h4, h3{
        text-align: left;
    } */


IMAGE
.img-1 {
    display: block;
    margin: auto;
    padding: 20x;
    border-radius: 50%;
}

hr {
    margin-top: 20px;
    width: 50%;
    height: 2px;
    border: none;
    background: rgb(139, 120, 190);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.head-1 {
    text-align: center;
    margin: 20px;
}

strong {
    text-transform: capitalize;
}

h3,
h4 {
    margin: 20px 0;
}

p{
    margin: 20px 0;
}

ul {
    list-style: none;
    line-height: 1;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 0, 157);
}

ol {
    list-style: none;
}


/* EXPANDING CARDS */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(#3A1C71, #D76D77, #FFAF7B);
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
    color: rgb(255, 0, 76);
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

#order {
    justify-content: left;
    height: 50px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255);
    border-radius: 30%;
}

.about {
    color: rgb(255, 145, 187);
}

.history {
    color: rgb(253, 253, 253);
}
