body {
    background-color: #333;
    color: #ecf0f1;   
}

.navbar {
    border-bottom: #5f685a 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url(https://i.guim.co.uk/img/media/d143e03bccd1150ef52b8b6abd7f3e46885ea1b3/0_182_5472_3283/master/5472.jpg?width=1200&quality=85&auto=format&fit=max&s=d5a74a011c3fef1ad9c1c962721d221d);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 560px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
    padding-top: 150px;
}